vendor/
Build
xcuserdata
DerivedData
Pods/*
.DS_Store
.bundle
vendor
*.cer
*.mobileprovision
xcschememanagement.plist
Index/*

# fastlane
# fastlane specific
/fastlane/report.xml
/fastlane/FastlaneRunner
/fastlane/swift/FastlaneRunner

# deliver temporary files
/fastlane/Preview.html

# snapshot generated screenshots
/fastlane/screenshots

# scan temporary files
/fastlane/test_output

# ipa export
/fastlane/output