# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2.1

jobs:
    tests:
        macos:
            xcode: 12.0.1 # Specify the Xcode version to use
        shell: /bin/bash --login -o pipefail
        steps:
            - checkout
#            - restore_cache:
#                key: 1-gems-{{ checksum "Gemfile.lock" }}
            - run: |
                gem install bundler -v 2.1.4
                bundle config set path 'vendor/bundle'
                bundle check || bundle install
#            - save_cache:
#                key: 1-gems-{{ checksum "Gemfile.lock" }}
#                paths:
#                    - vendor/bundle
            - run:
                name: Set Ruby Version
                command: |
                     echo 'source /usr/local/share/chruby/chruby.sh' >> $BASH_ENV
                     echo 'chruby ruby-2.6.6' >> $BASH_ENV 
            - run: chruby 2.6.6 && bundle exec pod install

            - run:
                name: fastlane
                command: chruby 2.6.6 && bundle exec fastlane testsLane

    ui_tests:
        macos:
            xcode: 12.0.1 # Specify the Xcode version to use
        shell: /bin/bash --login -o pipefail
        steps:
            - checkout
#            - restore_cache:
#                key: 1-gems-{{ checksum "Gemfile.lock" }}
            - run: |
                gem install bundler -v 2.1.4
                bundle config set path 'vendor/bundle'
                chruby 2.6.6 && bundle check || bundle install
#            - save_cache:
#                key: 1-gems-{{ checksum "Gemfile.lock" }}
#                paths:
#                    - vendor/bundle
            - run:
                name: Set Ruby Version
                command: |
                    echo 'chruby ruby-2.6.6' > ~/.ruby-version
                    ruby -v

            - run: chruby 2.6.6 && bundle exec pod install

            - run:
                name: fastlane
                command: chruby 2.6.6 && bundle exec fastlane ui_testsLane

workflows:
    version: 2

    feature-branch:
        jobs:
            - tests:
                filters:
                    branches:
                        only:
                            - /feature-.*/

#    pull-requests:
#        jobs:
#            - tests:
#                filters:
#                    branches:
#                        only:
#                            - /fix-.*/

    develop-branch:
        jobs:
            - tests:
                filters:
                    branches:
                        only:
                            - develop

            - ui_tests:
                filters:
                    branches:
                        only:
                            - develop
    nightly:
        triggers:
            - schedule:
                cron: "20 21 * * *"
                filters:
                    branches:
                        only:
                            - develop
        jobs:
            - tests
